html, body {
    height: 100%;
    margin: 0;
    font-family: 'Oxygen', sans-serif;

    /* Set size of 1 em to 10px */
    font-size: 10px;

/*CSS gradient background*/
background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0, #8400FF),
    color-stop(1, #5C3EF0)
);
background-image: -o-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -moz-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -webkit-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -ms-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: linear-gradient(to bottom, #8400FF 0%, #5C3EF0 100%);
}

h1 {
    margin-top: 0;
    font-weight: 100;
}

h2 {
    margin: 1em;
    font-weight: 100;
}

hr {
    border-color: white;
}

.title-bar {
    padding-left: 2em;
    height: 4em;
    color: rgb(132, 0, 255);
    margin-left: auto;
}

.grey-out {
    position: absolute;
    background-color: rgb(28, 28, 32);
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/************** Navbar ***************/

.navbar {
    height: 5em;
    color: white;
    width: 100%;
    border-radius: 0;
}

.navbar > img {
    margin-right: 20px;
    margin-left: 20px;
    float: left;
}

.navbar > h1 {
    float: left;
}

.widget {
    width: 100%;
    border-radius: 0.4px;
    background: white;
}

.nav-button {
    cursor: pointer;
    float: right;
}

.toggle-menu {
    margin-top: 1em;
    margin-right: 1.6em;
    margin-left: 2em;
}

.play-nav, .pause-nav > img {
    margin-top: -0.4em;
    margin-left: -1em;
}

/************ Menu styling ************/
.menu-modal {
    width: 37em;
    height: 40em;

    /* Position in the center of the screen */
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    /* Position near top of the screen */
    top: 10em;
    margin-top: 5em;
    color: white;
    z-index: 9999;
    text-align: center;
    border: 0.2em solid white;
    border-radius: 0.3em;

    /*CSS gradient background*/
    background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0, #8400FF),
    color-stop(1, #5C3EF0)
);
background-image: -o-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -moz-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -webkit-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -ms-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: linear-gradient(to bottom, #8400FF 0%, #5C3EF0 100%);
}

textarea.filter-input {
    font-family: "Oxygen", sans-serif;
    color: rgb(164, 0, 255);
    width: 11em;
    font-size: medium;
    resize: none;
    overflow: hidden;
}

.menu-row > .button, textarea {
    float: left;
}

.menu-row {
    width: 90%;
    height: auto;
    margin-left: 10%;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: auto;
}

.button {
    cursor: pointer;
    background-color: rgb(140, 86, 255);
    border: 0.2em solid white;
    width: 40%;
    text-align: center;
    border-radius: 0.4em;
}

.clear {
    margin-left: 20%;
    width: 60%;
}

.filter-input, .start {
    margin-right: 5%;
}

.button:hover {
    background-color: rgb(122, 0, 255);
}

.filters {
    height: 10em;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    margin-top: 2em;
    overflow: hidden;
}

.filter {
    display: table;
    float: left;
    color: white;
    background-color: rgb(124, 56, 245);
    position: static;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}

.delete-filter {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    border: none;
    background-color: rgb(209, 188, 253);
}

.delete-filter:hover {
    background-color: rgb(225, 205, 255);
}

.close-menu {
    float: right;
    width: 20px;
    height: 20px;
    border: none;
    margin: 2px 2px;
    background-color: transparent;
}

/******* Twitter stream styling *********/

.container {
    position: fixed;
    top: 67px;
    left: 10%;
    width: 80%;
    height: 88%;
    z-index: 0;
    background-color: white;
    border-radius: 2px;
}

.tweets {
    width: calc(100% + 20px); /* hide scroll bar */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

/* Sole purpose is to hide the scroll bar*/
.scroll-shield {
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

.twitter-data {
    border-radius: 8px;
    color: rgb(0, 133, 255);
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    width: 90%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: middle;
}

.profile-image {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    border-radius: 2px;
    height: 48px;
    width: 48px;
}

.tweet-text {
    float: left;
    width: 85%;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
}

.tweet-text > strong {
    color: rgb(133, 0, 255);
}

/* Slide down animation */
.animate-tweet.ng-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* IE10+ and Future Browsers */
 
 /* The animation preparation code */
 height: 0px;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-tweet.ng-enter.ng-enter-active {
 /* The animation code itself */
 height: 80px;
}