html, body {
    height: 100%;
    margin: 0;
    font-family: 'Oxygen', sans-serif;

/*CSS gradient background*/
background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0, #8400FF),
    color-stop(1, #5C3EF0)
);
background-image: -o-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -moz-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -webkit-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -ms-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: linear-gradient(to bottom, #8400FF 0%, #5C3EF0 100%);
}

h1 {
    margin-top: 0;
    font-weight: 100;
}

h2 {
    margin: 10px;
    font-weight: 100;
}

hr {
    border-color: white;
}

.title-bar {
    padding-left: 2em;
    height: 40px;
    color: rgb(132, 0, 255);
    margin-left: auto;
}

.grey-out {
    position: fixed;
    background-color: rgb(28, 28, 32);
    opacity: 0.8;
    top: 50px;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.navbar {
    height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    border-radius: 0;
}

.navbar > img {
    float: left;
    margin-right: 20px;
}

.widget {
    width: 100%;
    border-radius: 4px;
    background: white;
}

.menu-button {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 95%;
    text-align: center;
}

/************ Menu styling ************/
.menu {
    position: fixed;
    width: 370px;
    height: 400px;
    left: 35%;
    top: 100px;
    color: white;
    margin-top: 50px;
    z-index: 9999;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;

    /*CSS gradient background*/
    background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0, #8400FF),
    color-stop(1, #5C3EF0)
);
background-image: -o-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -moz-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -webkit-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: -ms-linear-gradient(bottom, #8400FF 0%, #5C3EF0 100%);
background-image: linear-gradient(to bottom, #8400FF 0%, #5C3EF0 100%);
}

textarea.filter-input {
    font-family: "Oxygen", sans-serif;
    color: rgb(164, 0, 255);
    width: 110px;
    font-size: medium;
    resize: none;
    overflow: hidden;
}

.menu-row > .button, textarea {
    float: left;
}

.menu-row {
    width: 90%;
    height: auto;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.button {
    cursor: pointer;
    background-color: rgb(140, 86, 255);
    border: 2px solid white;
    width: 40%;
    text-align: center;
    border-radius: 4px;
}

.clear {
    margin-left: 20%;
    width: 60%;
}

.filter-input, .start {
    margin-right: 5%;
}

.button:hover {
    background-color: rgb(122, 0, 255);
}

.filters {
    height: 100px;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    margin-top: 20px;
    overflow: hidden;
}

.filter {
    display: table;
    float: left;
    color: white;
    background-color: rgb(124, 56, 245);
    position: static;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}

.delete-filter {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    border: none;
    background-color: rgb(209, 188, 253);
}

.delete-filter:hover {
    background-color: rgb(225, 205, 255);
}

.close-menu {
    float: right;
    width: 20px;
    height: 20px;
    border: none;
    margin: 2px 2px;
    background-color: transparent;
}

/******* Twitter stream styling *********/

.container {
    position: fixed;
    top: 67px;
    left: 10%;
    width: 80%;
    height: 88%;
    z-index: 0;
    background-color: white;
    border-radius: 2px;
}

.tweets {
    width: calc(100% + 20px); /* hide scroll bar */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

/* Sole purpose is to hide the scroll bar*/
.scroll-shield {
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

.twitter-data {
    border-radius: 8px;
    color: rgb(0, 133, 255);
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    width: 90%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: middle;
}

.profile-image {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    border-radius: 2px;
    height: 48px;
    width: 48px;
}

.tweet-text {
    float: left;
    width: 85%;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
}

.tweet-text > strong {
    color: rgb(133, 0, 255);
}

/* Slide down animation */
.hidden, .visible {
    max-height: 0;
    margin-top: -5px;   /* Removed jerk when new tweets are prepended to the stream */
    overflow-y: hidden;
    -webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.visible {        
    max-height: 80px ;                    
} 