<div class="menu-modal">
    <div class="navbar-menu"></div>
    <div class="toggle-menu close-menu button"><img src="static/img/close-icon.png"></div>
        
    <h2>Stream Options</h2>

    <div class="menu-row">
        <textarea class="filter-input" cols="15" rows="1"></textarea>
        <div class="add-filter button">Add Term</div>
        <div class="trending button">Trending terms</div>
    </div>

    <div class="filters" id="filters"></div>

    <div class="menu-row">
        <div class="start button"><img src="static/img/play.png" alt="Play"></div>
        <div class="pause button"><img src="static/img/pause.png" alt="Pause"></div>
    </div>

    <div class="clear button">Clear Stream</div>
    <div id="trending-terms"></div>
</div>